buck-out
.buckd
.vs
.vscode
.xmake
out/
out/
build/
CMakeSettings.json
CMakeProperties.json
CppProperties.json
vcpkg_installed
.idea
.cache
*.ninja
Makefile
CMakeFiles
CTestTestfile.cmake
CMakeCache*
*.log
cmake_install.cmake
